.container {
    text-align: center;
}

.center {
    font-size: 150px;
    color: aqua;
    margin-bottom: 40px;
}

.search-box {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.search-box input {
    text-align: left;
    height: 40px;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    background-color: white;
    padding-left: 20px;
    border: none;
    outline: none;

}

.search-box button {
    background-color: aqua;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px    ;
}

.search-box button:hover {
    background-color: #00cccc;
    color: white;
}